[OSEv4:children]
bastionhost
bootstrapwebservers

[OSEv4:vars]
base_domain="internal.yourdomain.com"
cluster_name=ocp4

vsphere_server="vcenter.internal.yourdomain.com"
vsphere_username="administrator@internal.yourdomain.com"
vsphere_password="test123"
vsphere_datacenter="datacenter"
vsphere_datastore="datastore"

pull_secret='{"auths": ...}'

ssh_key='ssh-ed25519 AAAA...'

bootstrap_url="http://webserver.internal.yourdomain.com/ocp/bootstrap.ign"

[bastionhost]
localhost ansible_connection=local

[bootstrap]
bootstrap.internal.yourdomain.com mac_address="00:50:56:11:11:11"

[masters]
master1.internal.yourdomain.com mac_address="00:50:56:11:22:11"
master2.internal.yourdomain.com mac_address="00:50:56:11:22:22"
master3.internal.yourdomain.com mac_address="00:50:56:11:22:33"

[workers]
worker1.internal.yourdomain.com mac_address="00:50:56:11:33:11"
worker2.internal.yourdomain.com mac_address="00:50:56:11:33:22"
worker3.internal.yourdomain.com mac_address="00:50:56:11:33:33"

[bootstrapwebservers]
webserver.internal.yourdomain.com files_directory="/usr/share/nginx/html/OCP"
