    - name: Remove old OCP VMs - Removing {{ vm_name }}
      vmware_guest:
        hostname: "{{ vsphere_server }}"
        username: "{{ vsphere_username }}"
        password: "{{ vsphere_password }}"
        datacenter: "{{ vsphere_datacenter }}"
        datastore: "{{ datastore }}"
        esxi_hostname: "{{ vsphere_esxi_hostname if vsphere_use_esxi_hostname else omit}}"
        cluster: "{{ vsphere_cluster if vsphere_use_cluster else omit}}"
        validate_certs: False
        folder: "{{ ocp_cluster_folder }}"
        state: "absent"
        name: "{{ vm_name }}"
      delegate_to: localhost
      register: deploy_vm

