apiVersion: v1
baseDomain: {{ base_domain | mandatory }}
compute:
- hyperthreading: Enabled   
  name: worker
# This stays as zero for now according to the documentation
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  name: {{ cluster_name | mandatory }}
platform:
  vsphere:
    vcenter: {{ vsphere_server | mandatory }}
    username: {{ vsphere_username }}
    password: {{ vsphere_password }}
    datacenter: {{ vsphere_datacenter }}
    defaultDatastore: {{ vsphere_datastore }}
pullSecret: {{ pull_secret | mandatory }}
sshKey: {{ ssh_key }}
