[OSEv4:children]
bastionhost
bootstrapwebservers

[OSEv4:vars]
base_domain="internal.yourdomain.com"
cluster_name=ocp4

vsphere_server="vcenter.internal.yourdomain.com"
vsphere_username="administrator@internal.yourdomain.com"
vsphere_password="test123"
vsphere_datacenter="datacenter"
vsphere_datastore_master="datastore_fast_disk"
vsphere_datastore_worker="datastore_normal_disk"
# The Ansible vmware_guest module documentation states that either a cluster name or hostname is required to be set.
# Your mileage may vary here so experiment and see what works best

# These parameters are mutually exclusive so set one or the other, but not both!
#vsphere_cluster="cluster1"
vsphere_esxi_hostname="hostname1.internal.yourdomain.com"

# Set this to true to lock all guest memory for the VM, required if using high latency sensitivity
#vsphere_lock_memory=True
# Latency Sensitivity - Options are "High" and "Normal", with Normal being the default
#vsphere_latency_sensitivity="High"


# These variables control whether or not the role will deploy the OVA 
# diretly to VMware and whether or not the role will deploy the client to the bastionhost
deploy_ova=True
deploy_client=True

ocp4_client_directory="/home/youruser/bin"
ocp4_installer_directory="/home/youruser/ocp"

pull_secret='{"auths": ...}'

ssh_key='ssh-ed25519 AAAA...'

bootstrap_url="http://webserver.internal.yourdomain.com/ocp/bootstrap.ign"

# Node creation defaults
master_node_memory_mb=24576
master_node_num_cpus=4
master_node_num_cpu_cores_per_socket=4

worker_node_memory_mb=32768
worker_node_num_cpus=8
worker_node_num_cpu_cores_per_socket=4

# Options to add extra disks are in the playbooks but somewhat useless for now and disabled by default.
# Machine Configuration objects need to be created in order for CoreOS to recognize the disks.
node_master_disk_size_in_gb=50
node_master_add_extra_disk=False
node_master_extra_disk_size_in_gb=50

node_worker_disk_size_in_gb=50
node_worker_add_extra_disk=False
node_worker_extra_disk_size_in_gb=100

# Options are "thin, thick, eagerzeroedthick"
vmware_master_disk_provisioning="thin"
vmware_worker_disk_provisioning="thin"

rhcos_template_vm_network="VM Network"

power_on_cluster_after_build=True

[bastionhost]
localhost ansible_connection=local

[bootstrap]
bootstrap.internal.yourdomain.com mac_address="00:50:56:11:11:11"

[masters]
master1.internal.yourdomain.com mac_address="00:50:56:11:22:11"
master2.internal.yourdomain.com mac_address="00:50:56:11:22:22"
master3.internal.yourdomain.com mac_address="00:50:56:11:22:33"

[workers]
worker1.internal.yourdomain.com mac_address="00:50:56:11:33:11"
worker2.internal.yourdomain.com mac_address="00:50:56:11:33:22"
worker3.internal.yourdomain.com mac_address="00:50:56:11:33:33"
worker4.internal.yourdomain.com mac_address="00:50:56:11:33:44"

[bootstrapwebservers]
webserver.internal.yourdomain.com files_directory="/usr/share/nginx/html/ocp"
